@import "tailwindcss";
@import "tailwindcss/preflight";
@import "tailwindcss/utilities";

:root {

  --font-body: var(--font-dm-sans);
  --font-heading: var(--font-inter);
  
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-body);
}

@media (prefers-color-scheme: dark) {
  :root {

  }
}

body {
  background: var(--background);
  font-family: var(--font-body), system-ui, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading), system-ui, sans-serif;
}
